<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijiayifeng.mapper.DateTimePriceMapper">
    <!--查询所有房态-->
    <select id="selectById" parameterType="java.lang.Integer" resultType="room">
        select name,count,price,admin_id from room where admin_id=#{id}
    </select>
    <!--通过日期和房型查询库里的数据-->
    <select id="selectByDate" resultType="dateTime">
        select * from datetime where date=#{date} and room_name=#{name} and kind=#{kind} and admin_id=#{admin_id}
    </select>
    <!--添加数据-->
    <insert id="addDateByDate" parameterType="dateTime">
        insert into datetime (date,room_name,status,admin_id,kind,price)
        value(#{date},#{room_name},#{status},#{admin_id},#{kind},#{price})
    </insert>
    <!--修改数据-->
    <update id="updateByDateTime">
        update datetime set status=#{status} where id=#{id}
    </update>
    <!--根据房型查找kind-->
    <select id="selectByKind" parameterType="DateTime" resultType="Kind">
        select id,kind,room_name,admin_id from kind where room_name=#{room_name} and admin_id=#{admin_id}
    </select>
    <!--修改房间价格-->
    <update id="updatePrice" parameterType="DateTime">
        update datetime set price=#{price}
        where id=#{id}
    </update>
    <!--批量修改房间价格-->
    <update id="updateByPrice" parameterType="DateTime">
        update datetime set price=#{price}
        where room_name=#{room_name} and admin_id=#{admin_id} and kind=#{kind} and date=#{date}
    </update>

</mapper>

